<h3 class="ui header">{{t "forms.i-i-s-rehab-client-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.surname
      class=(if (v-get validationObject "surname" "isInvalid") "error")
      label=(t "forms.i-i-s-rehab-client-e.surname-caption")
      data-test-i-i-s-rehab-client-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "surname" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "name" "isInvalid") "error")
      label=(t "forms.i-i-s-rehab-client-e.name-caption")
      data-test-i-i-s-rehab-client-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.patronymic
      class=(if (v-get validationObject "patronymic" "isInvalid") "error")
      label=(t "forms.i-i-s-rehab-client-e.patronymic-caption")
      data-test-i-i-s-rehab-client-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "patronymic" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.sex
      class=(if (v-get validationObject "sex" "isInvalid") "error")
      label=(t "forms.i-i-s-rehab-client-e.sex-caption")
      data-test-i-i-s-rehab-client-e----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "sex" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.birthday
      class=(if (v-get validationObject "birthday" "isInvalid") "error")
      label=(t "forms.i-i-s-rehab-client-e.birthday-caption")
      data-test-i-i-s-rehab-client-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "birthday" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-rehab-client-e.house-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.house
      relationName="house"
      projection="HouseL"
      title=(t "forms.i-i-s-rehab-client-e.house-caption")
      readonly=readonly
      componentName="houseLookup"
      data-test-i-i-s-rehab-client-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "house" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.house.addressString
      class=(if (v-get validationObject "house.addressString" "isInvalid") "error")
      label=(t "forms.i-i-s-rehab-client-e.house.addressString-caption")
      data-test-i-i-s-rehab-client-e--------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "house.addressString" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-rehab-client-e.addressreg-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.addressreg
      relationName="addressreg"
      projection="HouseL"
      title=(t "forms.i-i-s-rehab-client-e.addressreg-caption")
      readonly=readonly
      componentName="addressregLookup"
      data-test-i-i-s-rehab-client-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "addressreg" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.addressreg.addressString
      class=(if (v-get validationObject "addressreg.addressString" "isInvalid") "error")
      label=(t "forms.i-i-s-rehab-client-e.addressreg.addressString-caption")
      data-test-i-i-s-rehab-client-e-------------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "addressreg.addressString" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-rehab-client-e.identityDoc-caption"}}</label>
    {{flexberry-groupedit
      componentName="identityDocGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.identityDoc
      content=model.identityDoc
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "identityDoc" "isInvalid") "error")
      data-test-i-i-s-rehab-client-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "identityDoc" "messages")}}
  </div>
</form>